<%- include("partials/header") -%>

<div class="container-fluid header-about">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="aboutheader-title">Torchbearers Of Green Earth</h1>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="aboutheader-para">"We are the creators of <span class="para-title">NetZero</span>, a professional company dedicated to making our planet a better place to live."</p>
            </div>
        </div>
    </div>
</div>

<div id="aboutus">
    <div class="container text-center">
        <h2 class="section-title">What Do We Do?</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card about-card">
                <img class="card-img-top" src="/images/aboutcard1.jpg" alt="How we started">
                <div class="card-body">
                    <h3 class="card-title">How We Started</h3>
                    <p class="card-text">Climate change is the challenge of our generation. At NetZero, we provide various tools for individuals and businesses to monitor their carbon emissions and offer solutions for a cleaner and greener earth.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card about-card">
                <img class="card-img-top" src="/images/aboutcard2.jpeg" alt="Our Motivation">
                <div class="card-body">
                    <h3 class="card-title">Our Motivation</h3>
                    <p class="card-text">We are deeply committed to a sustainable future and have a profound respect for our planet. Our motivation stems from the urgency to act upon climate change predictions, ensuring a world where all forms of life thrive.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card about-card">
                <img class="card-img-top" src="/images/aboutcard3.jpg" alt="Join the Initiative">
                <div class="card-body">
                    <h3 class="card-title">Join the Initiative</h3>
                    <p class="card-text">Our planet faces an existential crisis due to human activities. Join our movement towards a net-zero future and a clean, green planet. Explore personalized options for individuals and businesses on our website.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>
