<%-include("partial/header") -%>
<div class="container-fluid about">
        <div>
            <img class="about-openingimage" src="https://www.classy.org/wp-content/uploads/2023/03/blog_x-impressive-tree-planting-organizations-exceeding-expectations.jpg" alt="">
        </div>
    <div class="row">
        <div class="col-lg-6">
            <h1 class="about-headline">Torchbearers of green earth</h1>
            <h2 class="subheading1">Introduction</h2>
            <p class="opening-paragraph">
                Climate change is the challenge of our generation. We believe everyone has a role to play in reducing their carbon footprint.  That's why we created NetZero to give individuals and businesses the tools they need to understand, reduce, and offset their environmental impact.
            </p>
        </div>
        <div class="col-lg-6">
            <img  class="about-image1"src="/images/introduction.jpg" alt="">
        </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <img  class="about-image2"src="/images/motivation.jpg" alt="">
    </div>
    <div class="col-lg-6">
        <h2 class="subheading2">Our Motivation</h2>
        <p class="middle-paragraph">
            Our unwavering commitment to a sustainable future stems from a deep respect for our planet.We believe in a world where actions leave a positive footprint. A world where there is plenty of fresh air and almost no pollution. Our motivation for creating this company was the prediction that Antarctia may completely melt in 50 years.That's when we thought it was time to act for fututre of earth.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2 class="subheading3">Join The Initiative</h2>
        <p class="ending-paragraph">
            Let's embark on this journey together. Take the first step towards a net-zero future. Visit our website to explore our offset options for a highly personalised experience and make a difference .
         </p>
    </div>
    <div class="col-lg-6">
        <img  class="about-image3"src="/images/initiative.jpg" alt="">
    </div>
</div>
</div>

<%- include("partial/footer") -%>
