<%-include("partials/header") -%>
<div class="container-fluid header-about">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="aboutheader-title-1">About Us</h1>
                <h2 class="aboutheader-tile-2">Torchbearers Of Green Earth</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="aboutheader-para">"We are creators of <span class="para-title">NetZero</span>,a professional company meant to make our plane a better place to live in."</p>
            </div>
        </div>
    </div>
</div>
<div id="aboutus">
    <div class="container" style="text-align: center;">
        <h1 class="aboutus-heading" style="color: darkgreen;">What do we do ?</h1>
        </div>

            <div class="row">
                <div class="log-in col-lg-4"
                    style="text-align: center; padding-left:5%; padding-bottom:5%; padding-top:5%;">
                    <div class="individual-plans card" style="width:18rem ;">
                        <div class="card-header">
                            <img class="aboutuscard1" src="/images/aboutcard1.jpg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">How we started</h3>
                            <p class="card-body">Climate change is the challenge of our generation. We believe everyone has a role to play in reducing their carbon footprint.
                                That's why we created NetZero for a clean and greener earth where there is no threat of climate destruction.At NetZero we provide various tools for individuals and businesses to monitor their carbon emissions and provide various solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="log-in col-lg-4" style="padding-left: 6%; padding-bottom:5%; padding-top:5%;">
                    <div class="business-plans card" style="width: 18rem;">
                        <div class="card-header">
                            <img class="aboutuscard2" src="/images/aboutcard2.jpeg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Our Motivation</h3>
                            <p class="card-body">We have got a unwavering commitment to a sustainable future because of our deep respect for our planet.We believe in a world where daily activities leave a positive imapct on ecosystem. A world where there is plenty of fresh air and all forms of life thrive.Our motivation behind creating this comapny was the suggestion made on weather models that if current trends continue humanity may face extinction in about 100 years. That's when we thought it was time to act.
                        </div>
                    </div>
                </div>
                <div class="log-in col-lg-4"
                    style="text-align: center; padding-left:10%; padding-bottom:5%; padding-top:5%;">
                    <div class="individual-plans card" style="width:18rem ;">
                        <div class="card-header">
                            <img class="aboutuscard3" src="/images/aboutcard3.jpg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Join the Initiative</h3>
                            <p class="card-body">As we all see that our planet faces existential crisis due to our activities .Therefore we urge you to join our movement.Take the first step towards a net-zero future and a clean and green planet.Visit our website to explore a variety of options for individuals and businesse for a good and highly personalized expereince.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include("partials/footer") -%>