<%-include("partials/header") -%>
    <div class="container-fluid header">
        <div class="heading-box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="header-title-1">Empower Your Green Journey</h1>
                    <h1 class="header-title-2"> Reduce your Carbon Footprint</h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="header-para">"The Earth whispers, and it's time to listen. We all have a role to play in
                        creating a more sustainable future. Here at <span class="para-title">NetZero</span>, we empower
                        individuals, businesses, and industries to take impactful steps towards a greener tomorrow."</p>
                </div>
            </div>
        </div>
    </div>
    <div class="objective"> ̰
        <section id="features">
            <div class="container-fluid feature">
                <div class="row">
                    <div class="col-lg-4 feature1">
                        <i class=" icons fa-solid fa-leaf fa-4x "></i>
                        <h2 class="icon-heading">Reduce</h2>
                        <p class="icon-para">Minimize your enviromental impact through sustainable practices</p>
                    </div>
                    <div class="col-lg-4 feature1">
                        <i class="icons fa-solid fa-recycle fa-4x"></i>
                        <h2 class="icon-heading">Offset</h2>
                        <p class="icon-para">Neutralize your remaining footprint with verified carbon offset programs
                        </p>
                    </div>
                    <div class="col-lg-4 feature1">
                        <i class=" icons fa-solid fa-seedling fa-4x"></i>
                        <h2 class="icon-heading">Thrive</h2>
                        <p class="icon-para">Achieve your sustainability goals and create a lasting positive impact</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="plans">
        <div class="container" style="text-align: center;">
            <h1 class="plans-title" style="color: azure;">Get Started</h2>
                <div class="row">
                    <div class="log-in col-lg-6"
                        style="text-align: center; padding-left:15%; padding-bottom:5%; padding-top:5%;">
                        <div class="individual-plans card" style="width:18rem ;">
                            <div class="card-header">
                                <img class="card-image" src="/images/card-1.jpeg" alt="" style="border-radius: 2%;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Individual</h3>
                                <p class="card-body"> Discover sustainable living tips, explore eco-friendly transportation options, and find resources to minimize your daily footprint.</p>
                                <div class="d-grid gap-2"><button class="btn btn-primary" type="button">Discover Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="log-in col-lg-6" style="padding-left: 10%; padding-bottom:5%; padding-top:5%;">
                        <div class="business-plans card" style="width: 18rem;">
                            <div class="card-header">
                                <img class="card-image" src="/images/card-2.jpg" alt="" style="border-radius: 2%;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Business/Industries</h3>
                                <p class="card-body">Implement carbon offset tracking technologies, develop
                                    carbon-neutral practices, and access resources to achieve your sustainability goals.
                                </p>
                                <div class="d-grid gap-2"><button class="btn btn-primary" type="button">Discover Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="testimonials" >
        <h1 class="testimonial-heading">Our Supporters</h1>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"  data-bs-interval="2000">
                    <img src="images/Caro-1.png" alt="dog-profile" class="testimonial-image">
                    <p class="testimonial-text">"NetZero has been a game-changer for us. Their comprehensive approach to
                        computing and offsetting our carbon footprint aligned perfectly with our sustainability goals.
                        Their knowledgeable team saved us time and resources, providing exceptional support throughout.
                        Highly recommend to any company wanting to make a difference!"</p>
                    <em style=" color:#000">~Selena,CEO of EcoTech</em>
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                    <img src="images/Caro-2.png" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"We're thrilled with NetZero's services. Their user-friendly platform
                        helped us accurately assess and mitigate our carbon emissions. Their dedication to
                        sustainability and tailored solutions exceeded our expectations. Proud to partner with them!"
                    </p>
                    <em style=" color:#000">~Laura,Sustainability Manager at GreenTech Innovations</em>
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                    <img src="images/Caro-5.png" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"NetZero has been instrumental in helping us navigate carbon
                        footprinting and offsetting. Their expertise and personalized approach have guided us toward a
                        more sustainable future. Grateful for their partnership and excited to continue our journey
                        together."
                    </p>
                        <em style=" color:#000">~Ralph, Sustainability Coordinator at EcoFriendly Enterprises</em>
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                    <img src="images/Caro-3.png" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"NetZero exceeded our expectations. Their commitment to accuracy and
                        transparency is outstanding. They helped us quantify emissions accurately and provided practical
                        strategies to reduce our carbon footprint. Proud to be associated with such a reputable
                        partner."
                    </p>
                        <em style=" color:#000">~John, CEO of GreenTech Solutions </em>
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                    <img src="images/Caro-4.png" alt="dog-profile" class="testimonial-image">

                    <p class="testimonial-text">"Our experience with NetZero has been exceptional. Their professional
                        team, intuitive platform, and impactful offsetting projects made a tangible difference. Thanks
                        to NetZero, we've achieved our sustainability goals and enhanced our brand reputation."
                    </p>
                        <em style=" color:#000">~Michael, Operations Director at CleanTech Solutions</em>
                </div>
            </div>
            <button class="carousel-control-prev but-slide" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next but-slide" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="press">
        <img src="/images/techcrunch.jpeg" class="press-img" alt="tc-logo">
        <img src="/images/tnw.jpeg" class="press-img" alt="tnw-logo">
        <img src="/images/bizinsider.jpeg" class="press-img" alt="biz-insider-logo">
        <img src="/images/mashable.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/Nike.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/starbucks.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/tesla.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/coca-cola.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/mercedes.jpeg" class="press-img" alt="mashable-logo">
        <img src="/images/IBM.jpeg" class="press-img" alt="mashable-logo">
    </div>
    <section id="contact" style="background-color: rgb(254, 250, 246); padding-top: 5%;">
        <h1 style="text-align: center; font-family: 'poppins'; font-weight: 700; font-size: 65px;">Our Team</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 contact-card ">
                <img src="images/vishal.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;">
                <div class="contact-text left">
                    <h2>Vishal Shahi</h2>
                    <p><i class="fa-solid fa-phone"></i> 7239909682</p>
                    <p><i class="fa-solid fa-envelope"></i> Vishal.shahi.ece23@itbhu.ac.in</p>
                    <a href="#"><i class="fa-brands fa-linkedin fa-4x"></i></a>
                </div>
        
            </div>
            <div class="col-lg-6 col-md-6 contact-card">
                <img src="images/amay.jpeg" style="height: 75%; width: 35%; border-radius: 100%;">
                <div class="contact-text ">
                    <h2>Amay Vikram Singh</h2> 
                    <p><i class="fa-solid fa-phone"></i> 9455118229</p>
                    <p><i class="fa-solid fa-envelope"></i> Amayvikram.singh.ece23@itbhu.ac.in</p>
                    <a href="#"><i class="fa-brands fa-linkedin fa-4x"></i></a>
                    
        
                </div>
        
            </div>
            <div class="col-lg-6 contact-card ">
                <img src="images/ayush.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;">
                <div class="contact-text ">
                    <h2>Ayush Kumar</h2> 
                    <p><i class="fa-solid fa-phone"></i> 7321077858</p>
                    <p><i class="fa-solid fa-envelope"></i> Ayush.kumar.ece23@itbhu.ac.in</p>
                    <a href="#"><i class="fa-brands fa-linkedin fa-4x"></i></a>
                </div>
        
            </div>
            <div class="col-lg-6 contact-card ">
                <img src="images/yash.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;">
                <div class="contact-text  ">
                    <h2>Yashaswi Singhania</h2> 
                    <p><i class="fa-solid fa-phone "> </i>7905584242</p>
                    <p><i class="fa-solid fa-envelope"></i> Yashaswi.singhania.bce23@itbhu.ac.in</p>
                    <a href="#"><i class="fa-brands fa-linkedin fa-4x"></i></a>
                </div>
        
            </div>
            </div>
    </section>
    <div id="newsletter">
        <div class="newsletter-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 newsletter-heading">
                    <h1 class="news-heading">Make your inbox a little greener</h1>
                    <h2 class="news-sub">Keep up with our half-yearly newsletter</h2>
                </div>
                <div class="col-lg-6 col-md-6">
                    <form class="input" action="/" method="post">
                        <div class="mb-3">
                            <label for="first-name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first-name" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="second-name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="second-name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="termscheck">
                            <label class="form-check-label" for="termscheck">I agree to the terms and conditions</label>
                        </div>
                        <div class="d-grid gap-2"><button type="submit" class="btn btn-success">Submit</button></div>  
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

<%- include("partials/footer") -%>
