<%-include("partials/header") -%>
<div class="offset-head">
    <h3 class="offset-sub-heading">Your footprint.India's Trees.Our Future.</h3>
    <h1 class="offset-heading">Offset Your Emissions</h1>
</div>
<div class="offset-para">
    <p class="offset-paragraph">
        A carbon offset is a tangible way of taking action for the climate. Our education resources show you how you can reduce your carbon footprint. For those emissions you can't reduce, you can plant enough trees through our native Indian tree-planting projects to cover the activity you wish to offset.

        The trees we plant to offset your carbon provide long-term benefits for the land, animals and people.
        
        If you don't have time to calculate your carbon footprint, our quick offsets will allow you to use Indian averages to calculate and offset your carbon emissions.
    </p>
</div>
<div class="offset-cards" style="background-color: rgb(240, 239, 237); padding: 5%;" >
    <h1 class="offset-heading" style="color: black; text-align: center; font-weight: 500; font-size: 50px; letter-spacing: 0px; font-family:'roboto';">Quick offsets for individuals</h1>
    <div class="row offset-row">
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="/images/flight.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Flight Offsets </h5>
                  <p class="card-text offset-para">We will plant enough native trees to offset approximately 0.8 tCO2e. This covers emissions from a long one way economy class flight within India (e.g. Mumbai to Delhi).</p>
                  <h5>₹1500</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button1">Pay Now</button></div>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="/images/food.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Food & Drink Offsets</h5>
                  <p class="card-text offset-para">Approx 10 tCO2e. Calculations are based on average household size of 4.4 people and weekly spend of $273.75. Includes emissions from groceries, take-away and dining out.</p>
                  <h5>₹8000</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button2">Pay Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="/images/light.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Home Energy Offsets</h5>
                  <p class="card-text offset-para">Approx. 8 tCO2e. Includes electricity and natural gas consumption. Calculations are based on average household size of 4.4 people with annual consumption of 6,412 kWh electricity and 4,503 kWh natural gas.</p>
                  <h5>₹10000</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button3">Pay Now</a></div>
                </div>
              </div>

        </div>
    </div>
    <div class="row offset-row">
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="/images/vehicle.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vehicle Offsets</h5>
                  <p class="card-text offset-para"> Calculating emissions reduction, such as a reduction of 2.5 tCO2e annually, based on an average distance traveled of 11,400 km per year.</p>
                  <h5>₹6000</h5>
                  <div class="d-grid gap-2"><button class="btn btn-primary button4">Pay Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="/images/family.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Total Household Footprint</h5>
                  <p class="card-text offset-para">Approx 18 tCO2e. Calculations are based on average household size of 4.44 people with annual footprint of 15 tCO2e. Footprint includes emissions from  transport, travel, waste, and food.</p>
                  <h5>₹12000</h5>
                  <div class="d-grid gap-2"><button href="#" class="btn btn-primary button5">Pay Now</button></div>
                </div>
              </div>
        </div>

    </div>

</div>
<div class="subs-plans" style="padding: 5%;">
    <h1 class="offset-heading" style="color: black; text-align: center; font-weight: 500; font-size: 50px; letter-spacing: 0px; font-family:'roboto';">Climate care subscriptions</h1>
    <p class="offset-para">
        Your monthly Climate Care subscription reduces your carbon impact while benefiting Indian habitats through native biodiverse tree planting. It's a quick and easy way for you to take care of our planet and become carbon positive.

    Simply choose the size of your household and we'll take care of the rest.
    </p>
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/indiv.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Individual
                    (1 person)</h5>
                    <h5 style="text-align: center; padding-top: 3%;">₹1500/month</h5>
                  
                    <ul class="offset-para">
                        <li>
                            10tCO2e/y
                        </li>
                        <li>
                            3 Additional tCO2e/y
                        </li>
                        <li>
                            10 Trees planted/month
                        </li>
                        <li>
                            120 Trees planted/year
                        </li>
                    </ul>


                  <div class="d-grid gap-2"><button href="#" class="btn btn-primary button6">Subscribe Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/couple.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Couple
                    (2 people)</h5>
                    <h5 style="text-align: center; padding-top: 3%;">₹2000/month</h5>
                  <ul class="offset-para">
                    <li>
                        20tCO2e/y
                    </li>
                    <li>
                        8 Additional tCO2e/y
                    </li>
                    <li>
                        15 Trees planted/month
                    </li>
                    <li>
                        180 Trees planted/year
                    </li>
                </ul>

                  <div class="d-grid gap-2"><button class="btn btn-primary button7">Subscribe Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/family.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Small Family
                    (3-5 people)</h5>
                    <h5 style="text-align: center; padding-top: 3%;">₹3000/month</h5>
                  <ul class="offset-para">
                    <li>
                        30tCO2e/y
                    </li>
                    <li>
                        10 Additional tCO2e/y
                    </li>
                    <li>
                        20 Trees planted/month
                    </li>
                    <li>
                        240 Trees planted/year
                    </li>
                </ul>

                  <div class="d-grid gap-2"><button class="btn btn-primary button8">Subscribe Now</button></div>
                </div>
              </div>

        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/large.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Large Family
                    (6+ people)
                    </h5>
                    <h5 style="text-align: center; padding-top: 3%;">₹5000/month</h5>
                  <ul class="offset-para">
                    <li>
                        40tCO2e/y
                    </li>
                    <li>
                        12 Additional tCO2e/y
                    </li>
                    <li>
                        25 Trees planted/month
                    </li>
                    <li>
                        300 Trees planted/year
                    </li>
                </ul>

                  <div class="d-grid gap-2"><button href="#" class="btn btn-primary button9">Subscribe Now</button></div>
                </div>
              </div>

        </div>

    </div>


</div>
<script>
   const button1 = document.querySelector(".button1")
   const button2 = document.querySelector(".button2")
   const button3 = document.querySelector(".button3")
   const button4 = document.querySelector(".button4")
   const button5 = document.querySelector(".button5")
   const button6 = document.querySelector(".button6")
   const button7 = document.querySelector(".button7")
   const button8 = document.querySelector(".button8")
   const button9 = document.querySelector(".button9")
   
button1.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 1, quantity: 1 },
        ,
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button2.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
                { id: 2, quantity: 1 },
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button3.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 3, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button4.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 4, quantity: 1 },
       
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button5.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 5, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button6.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 6, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button7.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 7, quantity: 1 },
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button8.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 8, quantity: 1},
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
button9.addEventListener("click", () => {
  fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      items: [
        { id: 9, quantity: 1},
        
      ],
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      console.log(JSON.stringify(url))
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
})
</script>

<%-include("partials/footer") -%>