<%-include("partials/header") -%>
<div class="result-indus">
    <div class="row result-bg">
        <div class="col-lg-6">
            <div class="result-bg-1">
                <h1 class="result-title">
                    Your Company's Estimated Annual Carbon Impact Is <%= footprintI %> Tonnes of CO<sub>2</sub>
                </h1>
                <h3 class="result-sh">
                    Protecting <%= areaI %> hectacres of Tropical Forest can neutralise that amount of carbon dioxide.
                </h3>
            </div>
      
        </div>
        <div class="col-lg-6 ">
          <div class="result-bg-2">
              <h1 class="result-tit">Restore Your Planet</h1>

              <p class="result-par">Nature stands as our most powerful ally in the battle against climate change. However, we're witnessing the rapid loss of crucial ecosystems, sounding an urgent call to action.
    
            To avert complete climate breakdown, we must act swiftly to halt the degradation and deforestation of habitats and commit to restoring nature. The planet teeters on the brink, and your help is vital.
            
            By neutralizing your footprint, you directly shield forests worldwide—a pivotal step in our fight against climate change.</p>
          </div>
        </div>
    </div>
</div>
<div class="card-indus">
    <h1 class="testimonial-heading" style="text-align: center; font-weight: 500; padding-top: 4%; padding-bottom: 2%;">Offset Programs</h1>
    <h5 class="offset-sub-heading" style="color: black; text-align: center;padding-bottom: 3%;">Invest in Offset Programs to Secure a Sustainable Future for Your Business and the Planet.</h5>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin: auto; margin-top: 5%;">
                <img src="/images/rima.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/rima-fuel-switch-in-bocai-va-889-?searchResultsLink=%2Fallprojects" style="text-decoration: underline;color: black;"><h5>RIMA Fuel Switch in Bocaiúva</h5></a>
                     <h6 >Available Tonnes:9,259</h6>
                  <p class="card-text aa">Hanuman Agro Industries Limited (HAIL) is a public limited company, incorporated in 1994 with the main objectives of carrying out business activities in the field of Paper & Power Generation using conventional or non-conventional fuel.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 5%;">
                <img src="/images/rice.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/25-mw-rice-husk-based-cogeneration-plant-at-hanuman-agro-industries-limited?searchResultsLink=%2Fallprojects" style="text-decoration: underline;color: black;"><h5>2.5 MW Rice husk based cogeneration plant at Hanuman Agro Industries Limited</h5></a>
                     <h6 >Available Tonnes:104,490</h6>
                  <p class="card-text aa">The project resides in the industrial district of Bocaiúva, in the northern state of Minas Gerais, a region dedicated to metallurgy, mining, agriculture and reforestation. The project replaces fossil fuel by renewable biomass at one of the factories of Rima Industrial.</p>
                </div>
              </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 5%;">
                <img src="/images/10.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/10-mw-biomass-based-renewable-energy-generation-for-the-grid-at-saradambika-power-plant-private-limited-at-chandrapur-district-maharashtra?searchResultsLink=%2Fallprojects" style="text-decoration: underline;color: black;"><h5>10 MW Biomass Based Renewable Energy Generation for the Grid at Saradambika Power Plant Private Limited at Chandrapur District, Maharashtra</h5></a>
                     <h6 >Available Tonnes:3,446</h6>
                  <p class="card-text aa">Saradambika is a 10 MW Biomass Power Plant located in Chimur, India. The project conserves local resources, reduces pressure on the environment, and improves health conditions in the community. The emissions reductions of the project are estimated at 353,487 tonnes of CO2 eq. over the crediting period of 10 years.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 5%;">
                <img src="/images/155.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/155-mw-gas-based-combined-cycle-power-project-at-hazira-1300-?searchResultsLink=%2Fallprojects" style="text-decoration: underline;color: black;"><h5>155 MW Gas based combined cycle power project at Hazira</h5></a>
                     <h6 >Available Tonnes:21,065</h6>
                  <p class="card-text aa">The project activity is to set up a 500 MW natural gas based combined cycle power plant. The combined cycle power plant has been set up in two phases. Phase 1 is 155 MW. The power plant receives Natural Gas in pipelines from Essar Steel Limited (ESTL) and water is pumped from the Tapi river. BPL and ESTL have entered into a Power Purchase Agreement under which BPL would supply power to ESTL.</p>
                </div>
              </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto;margin-top: 5%;">
                <img src="/images/shah.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/wind-energy-project-in-maharashtra-by-m-s-shah-promoters-developers-4489-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: underline;color: black;"><h5>Wind Energy Project in Maharashtra by M/s Shah Promoters & Developers</h5></a>
                     <h6 >Available Tonnes:964</h6>
                  <p class="card-text aa">Our 7.2 Mw wind farm is located at Khandke, India. The project developer is the firm M/s Shah Promoters & Developers. In addition to the production of green energy, this project creates employment, business and extra income opportunities for the locals.</p>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <div class="card" style="width: 30rem; margin:auto; margin-top:5%">
                <img src="/images/ginni.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="https://offset.climateneutralnow.org/balsio-small-hydroelectric-project-of-ginni-global-pvt-ltd-4309-?searchResultsLink=%2Fallprojects%3FPageNumber%3D2" style="text-decoration: underline;color: black;"><h5>Balsio Small Hydroelectric Project of Ginni Global Pvt. Ltd.</h5></a>
                     <h6 >Available Tonnes:167,841</h6>
                  <p class="card-text aa">The Balsio Hydel Project has a power generation capacity of 5.0 MW which has been installed to augment the power generation in Himachal Pradesh using renewable energy. The project activity improves the voltage profile and reliability of the power system in the remote area by delivering 21.95 GWh of clean energy to the grid.</p>
                </div>
              </div>
        </div>

    </div>
</div>
<div class="caro-indus">

</div>
<%-include("partials/footer") -%>