<%-include("partials/header") -%>

<section id="contact" style="background-color: rgb(255, 255, 255); ">
    <h1 style="text-align: center; font-family: 'poppins'; font-weight: 700; font-size: 65px; padding-top: 5%; text-shadow: 2px 2px rgb(135, 126, 126);">Our Team</h1>
    <div class="row">
        <div class="col-lg-6 contact-card ">
            <img src="images/vishal.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;">
            <div class="contact-text left" style="right: 0px; position: relative;">
                <h2>Vishal Shahi</h2>
                <p><i class="fa-solid fa-phone"></i> 7239909682</p>
                <p><i class="fa-solid fa-envelope"></i> Vishal.shahi.ece23@itbhu.ac.in</p>
                <a href="https://www.linkedin.com/in/vishal-shahi-593952286"><i class="fa-brands fa-linkedin fa-4x"></i></a>
            </div>
        </div>
        <div class="col-lg-6 contact-card">
            <img src="images/amay.jpeg" style="height: 75%; width: 35%; border-radius: 100%;">
            <div class="contact-text " style="right: 0px; position: relative;">
                <h2>Amay Vikram Singh</h2> 
                <p><i class="fa-solid fa-phone"></i> 9455118229</p>
                <p><i class="fa-solid fa-envelope"></i> Amayvikram.singh.ece23@itbhu.ac.in</p>
                <a href="https://www.linkedin.com/in/amay-vikram-singh-57a1402b4"><i class="fa-brands fa-linkedin fa-4x"></i></a>
                
    
            </div>
    
        </div>
        <div class="col-lg-6  contact-card ">
            <img src="images/ayush.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;" class="image-contact">
            <div class="contact-text " style="right: 25px; position: relative;">
                <h2>Ayush Kumar</h2> 
                <p><i class="fa-solid fa-phone"></i> 7321077858</p>
                <p><i class="fa-solid fa-envelope"></i> Ayush.kumar.ece23@itbhu.ac.in</p>
                <a href="https://www.linkedin.com/in/ayush-kumar-210418287"><i class="fa-brands fa-linkedin fa-4x"></i></a>
            </div>
    
        </div>
        <div class="col-lg-6  contact-card ">
            <img src="images/yash.jpeg" style="height: 75%; width: 35%;  border-radius: 100%;">
            <div class="contact-text  " style="right: 0px; position: relative;">
                <h2>Yashashwi Singhania</h2> 
                <p><i class="fa-solid fa-phone "> </i>7905584242</p>
                <p><i class="fa-solid fa-envelope"></i> Yashaswi.singhania.bce23@itbhu.ac.in</p>
                <a href="https://www.linkedin.com/in/yashashwi-singhania-b500bb2a9"><i class="fa-brands fa-linkedin fa-4x"></i></a>
            </div>
    
        </div>
        </div>
</section>
<%-include("partials/footer") -%>