<%-include("partials/header") -%>
<div class="container-fluid vision-header">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="header-title-1">Our Vision and Mission</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="visionheader-para">"Our Vision at <span class="para-title">NetZero</span>, is to create a better tomorrow for all Indians and for the rest of humankind. We strive to make the world a better place to live in."</p>
            </div>
        </div>
    </div>
</div>

<div id="Mission">
    <div class="container text-center">
        <h1 class="mission-heading">How we work</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card mb-4"style="margin:auto;margin-top:5%">
                <img class="card-img-top" src="/images/visioncard1.jpeg" alt="Sustainability">
                <div class="card-body">
                    <h3 class="card-title">Sustainability</h3>
                    <p class="card-text">We start by offsetting individual and businesses carbon emissions thereby providing long-term solutions towards a sustainable Earth.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4"style="margin:auto;margin-top:5%">
                <img class="card-img-top" src="/images/visioncard2.jpg" alt="Transparency">
                <div class="card-body">
                    <h3 class="card-title">Transparency</h3>
                    <p class="card-text">By using "Green Yatra" a reputed organization for planting trees across the country and by using "Tata Power" for renewable energy supplies we ensure transparency.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4"style="margin:auto;margin-top:5%">
                <img class="card-img-top" src="/images/visioncard3.jpg" alt="Accessibility">
                <div class="card-body">
                    <h3 class="card-title">Accessibility</h3>
                    <p class="card-text">We are accessible to every section of by providing a range of plans depending on your range of requirements.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="partners">
    <div class="container text-center">
        <h1 class="partner-heading">Our Partners</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <img src="/images/visionpartner1.jpg" class="img-fluid" alt="Partner 1">
        </div>
        <div class="col-lg-6">
            <img src="/images/visionpartner2.png" class="img-fluid" alt="Partner 2">
        </div>
    </div>
</div>

<%- include("partials/footer") -%>