<%-include("partials/header") -%>
<div class="container-fluid header-vision">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="header-title-1">Our Vision and Mission</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="visionheader-para">"Our Vision at <span class="para-title">NetZero</span>,is to create a better tomorrow for all
                Indians and for the rest of humankind.We strive to make world a beter place to live in."</p>
            </div>
        </div>
    </div>
</div>
<div id="Mission">
    <div class="container" style="text-align: center;">
        <h1 class="mission-heading" style="color: rgb(1, 19, 1); font-weight: 500; font-family: 'roboto'; font-size: 50px; margin-top: 5%;">How We Work</h1>
        </div>

            <div class="row">
                <div class="log-in col-lg-4"
                    style="text-align: center; padding-left:5%; padding-bottom:5%; padding-top:5%;">
                    <div class="individual-plans card" style="width:18rem ;">
                        <div class="card-header">
                            <img class="visioncard1" src="/images/visioncard1.jpeg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Sustainability</h3>
                            <p class="card-body">We start by offsetting individual and businesses carbon emissions thereby providing longterm solutions towards sustainable Earth</p>
                        </div>
                    </div>
                </div>
                <div class="log-in col-lg-4" style="padding-left: 5%; padding-bottom:5%; padding-top:5%;">
                    <div class="business-plans card" style="width: 18rem;">
                        <div class="card-header">
                            <img class="visioncard2" src="/images/visioncard2.jpg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Transparency</h3>
                            <p class="card-body">By using "Green Yatra" a reputed organization for planting trees across the country and by using
                                "Tata Power" for renewable energy supplies we ensure transparency.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="log-in col-lg-4"
                    style="text-align: center; padding-left:10%; padding-bottom:5%; padding-top:5%;">
                    <div class="individual-plans card" style="width:18rem ;">
                        <div class="card-header">
                            <img class="visioncard3" src="/images/visioncard3.jpg" alt="" style="border-radius: 2%;">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Accessibility</h3>
                            <p class="card-body">We are accessible to every section of by providing a range of plans depending on your range of requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="partners">
            <div>
                <h1 class="partner-heading" style="color: rgb(0, 13, 7);">Our Partners</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                  <img src="/images/visionpartner1.jpg"  alt="">
                </div>
                <div class="col-lg-6">
                    <img class="visionpartner2 "src="/images/visionpartner2.png"  alt="">
                </div>
            </div>
        </div>
    <%- include("partials/footer") -%>