<%-include("partials/header") -%>
<div class="container-fluid header-why">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="whyheader-title-1">Why Carbon Offsetting</h1>
                <h1 class="whyheader-title-2">The Path to a Sustainable Future</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="whyheader-para">"While reducing our carbon footprint must be the priority, certain emissions are currently impossible to completely avoid for most people and businesses. That's where offsets come into play.We here at <span class="para-title">NetZero</span>,empower
                    individuals, businesses, to manage their carbon emission by giving them offsets option."</p>
            </div>
        </div>
    </div>
</div>
    <div id="offset">
        <div class="container" style="text-align: center;">
            <h1 class="offset-heading" style="color: darkgreen;">How Offsets Work</h1>
            </div>
    
                <div class="row">
                    <div class="log-in col-lg-4"
                        style="text-align: center; padding-left:5%; padding-bottom:5%; padding-top:5%;">
                        <div class="individual-plans card" style="width:18rem ;">
                            <div class="card-header">
                                <img class="whycard1" src="/images/whyimage1.png" alt="" style="border-radius: 2%;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Role of Offsets</h3>
                                <p class="card-body">Offsets provide a way to compensate for these residual emissions while we work towards broader systemic changes.This ensures a way to keep the carbon footprints constant in the long run.
                                    Carbon offset projects contributes to vital initiatives like reforestation, renewable energy, and clean technology development.By contributing to offset projects you can help shape a better earth.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="log-in col-lg-4" style="padding-left: 6%; padding-bottom:5%; padding-top:5%;">
                        <div class="business-plans card" style="width: 18rem;">
                            <div class="card-header">
                                <img class="whycard2" src="/images/whyimage2.jpg" alt="" style="border-radius: 2%;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Offset benefit for Individual</h3>
                                <p class="card-body">Carbon offsetting is a way for individuals to take a proactive stance against climate change.
                                    By funding projects that reduce greenhouse gas emissions elsewhere, you're essentially balancing out the emissions you create in your daily life. This can come from things like travel, energy use, and consumption of goods.
                                    When you purchase carbon offsets, you're directly contributing to initiatives that benefit the environment such as reforestation and energy recycle.
                            </div>
                        </div>
                    </div>
                    <div class="log-in col-lg-4"
                        style="text-align: center; padding-left:10%; padding-bottom:5%; padding-top:5%;">
                        <div class="individual-plans card" style="width:18rem ;">
                            <div class="card-header">
                                <img class="whycard3" src="/images/whyimage3.jpg" alt="" style="border-radius: 2%;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Offset benefit for Businesses</h3>
                                <p class="card-body">By offsetting carbon footprint, businesses can demonstrate their environmental responsibility and build a stronger reputation. This can lead to increased brand loyalty and attract new customers who value sustainability giving comapny a competitive edge.It also attracts investors
                                     By using offsets comapnies can achieve cost management and highly innovative products.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include("partials/footer") -%>