<%- include("partials/header") -%>

<div class="container-fluid header-why">
    <div class="heading-box">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="whyheader-title-1" style="padding-top: 2%;">Carbon Offsetting</h1>
                <h2 class="whyheader-title-2">The Path to a Sustainable Future</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="whyheader-para">While reducing our carbon footprint must be the priority, certain emissions are currently impossible to completely avoid for most people and businesses. That's where offsets come into play. At <span class="para-title">NetZero</span>, we empower individuals and businesses to manage their carbon emissions by providing offset options.</p>
            </div>
        </div>
    </div>
</div>

<div id="offset" class="container">
    <h1 class="offset-heading text-center mb-5" style="color: rgb(0, 15, 0); margin-top: 5%; font-weight: 600;">How Offsets Work</h1>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <img src="/images/whyimage1.png" class="card-img-top" alt="Role of Offsets" style="border-radius: 2%;">
                <div class="card-body">
                    <h3 class="card-title">Role of Offsets</h3>
                    <p class="card-text">Offsets provide a way to compensate for residual emissions while we work towards broader systemic changes. By contributing to offset projects, you can help shape a better earth.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <img src="/images/whyimage2.jpg" class="card-img-top" alt="Offset benefit for Individual" style="border-radius: 2%;">
                <div class="card-body">
                    <h3 class="card-title">Offset Benefit for Individuals</h3>
                    <p class="card-text">Carbon offsetting allows individuals to take a proactive stance against climate change by balancing out their emissions through funding projects that reduce greenhouse gas emissions elsewhere.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <img src="/images/whyimage3.jpg" class="card-img-top" alt="Offset benefit for Businesses" style="border-radius: 2%;">
                <div class="card-body">
                    <h3 class="card-title">Offset Benefit for Businesses</h3>
                    <p class="card-text">Businesses can demonstrate environmental responsibility, build a stronger reputation, attract new customers, and achieve cost management and innovation through carbon offsetting.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>
